<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.acti.Testcases.TestValidateLoginFromExcel"/>
      <class name="com.acti.Testcases.TestValidateLogin2"/>
      <class name="com.acti.Testcases.TestAddProcuctToCart"/>
      <class name="com.acti.Testcases.TestValidateLogin"/>
      <class name="com.acti.Testcases.TestBase"/>
      <class name="com.acti.Testcases.TestHomePage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
